<!DOCTYPE html>
<head>
	<meta content="text/html" charset='UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Thanks for using Odin Flight booker</h1>
	<p>
	You have successfully booked for flight <%= @booking.flight_id %><br>
	</p>
	<p>
	To preview ticket information, just folow this link <%= link_to "booking", @url %>.
	</p>
	<p>Have a fun trip!</p>
</body>
</html>